TZ=Asia/Bangkok
POSTGRES_DB=ims
POSTGRES_USER=ims_admin
POSTGRES_PASSWORD=change-me-please
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-me-please
GRAFANA_ROOT_URL=http://localhost:3000
ALERTMANAGER_EXTERNAL_URL=http://localhost:9093
ALERT_WEBHOOK_URL=https://example.com/webhook
